:root {
    --primary: #4628ff;
    --success: #75fa83;
    --danger: #eb3f27;
    --warning: #ffd028;
    --white: #fdfdfd;
    --dark: #181717;
}
.btn {
    font-family: Arial;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    Transition: transform 0.3s ease;
}

.btn:hover {
    transform: translate(-3px);
}